@font-face {
  font-family: Ubuntu-Medium;
  src: url(..//fonts/Ubuntu-Medium.woff);
  src: url(..//fonts/Ubuntu-Medium.woff2); }

@font-face {
  font-family: Gagalin-Regular;
  src: url(..//fonts/Gagalin-Regular.woff);
  src: url(..//fonts/Gagalin-Regular.woff2); }

@font-face {
  font-family: Lifehack-Medium;
  src: url(..//fonts/Lifehack-Medium.woff);
  src: url(..//fonts/Lifehack-Medium.woff2); }

@font-face {
  font-family: Ubuntu-Light;
  src: url(..//fonts/Ubuntu-Light.woff);
  src: url(..//fonts/Ubuntu-Light.woff2); }

body, html {
  width: 100%; }

.main-screen {
  background: url(..//img/video-bg.png) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-around;
  -webkit-align-items: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  padding: 0;
  margin: 0;
  margin-left: 214px; }

.nav__item {
  list-style: none;
  display: inline; }
  .nav__item:after {
    content: "\2022";
    color: #fff; }

.nav__item:last-child::after {
  content: ""; }

.nav__link {
  text-decoration: none;
  color: #fff;
  font-family: Ubuntu-Medium;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px;
  display: inline-block;
  margin-top: -5px; }
  .nav__link:hover {
    text-decoration: underline;
    color: #fff; }

.btn {
  background-color: #e45028;
  padding: 10px 14px;
  border-radius: 5px;
  margin-bottom: 4px; }

.btn__link {
  color: #fff;
  font-family: Ubuntu-Medium;
  font-size: 13px;
  text-transform: uppercase;
  background: none;
  border: 0; }
  .btn__link:hover {
    text-decoration: underline;
    color: #fff; }

.nav-point {
  right: 150px;
  position: fixed;
  margin-top: 70px;
  width: 80px; }

.nav-point__item {
  color: #fff;
  list-style: none;
  padding: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav-point__link--active, .nav-point__link:hover {
  border: 1px solid #fff;
  padding: 4px;
  margin-left: -5px;
  border-radius: 10px;
  margin-top: -6px; }

.main-content {
  width: 850px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 120px; }

.burger-pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 30px; }

.dropspic {
  position: absolute;
  margin-top: 60px;
  margin-left: -35px; }

.burgerpic {
  position: relative; }

.main-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px; }

.main-text__h1 {
  font-family: Gagalin-Regular;
  color: #f9b43b;
  font-size: 72px;
  margin-left: 15px;
  font-weight: lighter; }

.main-text__span {
  font-family: Lifehack-Medium;
  color: #fff;
  font-size: 65px;
  font-weight: lighter;
  display: block;
  margin-top: 25px;
  line-height: 60px;
  letter-spacing: -2px; }

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: -50px; }

.advantages {
  background: url(..//img/bg.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  min-height: 650px; }

.adv-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.adv-title__h1 {
  font-family: Gagalin-Regular;
  color: #2f3234;
  font-size: 72px;
  font-weight: lighter;
  margin-top: 65px; }

.attribute {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.meat {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.meat-svg {
  background: url(..//icons/meat.svg) center center no-repeat;
  width: 160px;
  height: 100px;
  margin-top: 5px; }

.meat-name__title {
  font-family: Lifehack-Medium;
  color: #000;
  font-weight: lighter; }

.meat-article {
  font-family: Ubuntu-Light;
  font-size: 14px;
  color: #585a5a;
  line-height: 1.5;
  margin-bottom: 30px; }

.hand-made {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }}

.hand-made-svg {
  background: url(..//icons/hand.svg) center center no-repeat;
  width: 160px;
  height: 100px;
  margin-top: 5px; }

.hand-made-name__title {
  font-family: Lifehack-Medium;
  color: #000;
  font-weight: lighter;
  margin-top: 40px; }

.hand-made-article {
  font-family: Ubuntu-Light;
  font-size: 14px;
  color: #585a5a;
  line-height: 1.5;
  margin-bottom: 20px; }

.ingredients {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.ingredients-svg {
  background: url(..//icons/natural.svg) center center no-repeat;
  width: 160px;
  height: 100px; }

.ingredients-name__title {
  font-family: Lifehack-Medium;
  color: #000;
  font-weight: lighter;
  margin-top: 50px;
  letter-spacing: 1px; }

.ingredients-article {
  font-family: Ubuntu-Light;
  font-size: 14px;
  color: #585a5a;
  line-height: 1.5;
  margin-bottom: 35px; }

.reviews {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  min-height: 650px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.photo-back {
  background-size: cover;
  width: 25%;
  position: relative;
  vertical-align: bottom; }

.review-style {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(80, 80, 80, 0.8);
  opacity: 0;
  cursor: pointer;
  color: #fff;
  padding: 40px 20px; }

.photo-back:hover .review-style {
  opacity: 1; }

.review-style__name {
  font-family: Gagalin-Regular;
  color: #fff;
  font-size: 14px;
  font-weight: lighter; }

.review-style__desc {
  font-family: Ubuntu-Light;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-top: 18px; }

.btn-more {
  padding: 10px 10px;
  background-color: #2f3234;
  width: 90px;
  border-radius: 6px;
  text-align: center; }

.btn-more__link {
  font-family: Ubuntu-Medium;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase; }
