// resolutions 
$desktop: rem(1500px);
$laptop: rem(992px);
$tablets: rem(768px);
$phones: rem(480px);
$mini-phones: rem(320px);

//configuration
@import "config/media";
@import "config/mixins";
@import "config/variables";

//fonts
@import "layout/fonts";

//blocks
@import "blocks/main-screen";
@import "blocks/header";
@import "blocks/header__nav";
@import "blocks/btn";
@import "blocks/fixed-menu";
@import "blocks/main-content";
@import "blocks/arrow";
@import "blocks/full-screen-menu";

@import "blocks/advantages";
@import "blocks/attribute";
@import "blocks/attribute-wrap";

@import "blocks/burgers";
@import "blocks/arrow-left";
@import "blocks/burger-content";
@import "blocks/burger-left";
@import "blocks/burger-right";
@import "blocks/arrow-right";
@import "blocks/slider";

@import "blocks/team";
@import "blocks/team-acco";

@import "blocks/menu";
@import "blocks/menu-acco";

@import "blocks/reviews";
@import "blocks/photo-back";
@import "blocks/review-style";
@import "blocks/review-popup";
@import "blocks/btn-more";

@import "blocks/forms";
@import "blocks/form-feedback";
@import "blocks/form-left";
@import "blocks/form-right";
@import "blocks/form-modal";

@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/contact-inform";
@import "blocks/icons";