// resolutions 
$desktop: rem(1200px);
$laptop: rem(992px);
$tablets: rem(768px);
$phones: rem(480px);

@import "config/media";
@import "config/mixins";
@import "config/variables";

@import "layout/fonts";

@import "sections/main-screen";
@import "sections/advantages";
@import "sections/team";
@import "sections/menu";
@import "sections/reviews";
@import "sections/forms";
@import "sections/contacts";

