.advantages {
    background: url(..//img/bg.png) center center no-repeat;
    background-size: cover;
    width: 100%;    
    height:100vh; 
    min-height: $min-height;  
}
.adv-title {
    display: flex;
    justify-content: center;
}
.adv-title__h1 {
    font-family: Gagalin-Regular;
    color: $dark-grey;
    font-size: rem(72px);
    font-weight: lighter;
    margin-top: rem(65px);
}
.attribute {
    display: flex;
    justify-content: center;
}
.meat {
    @include attribute_class_svg;
    flex-wrap: wrap;
}
.meat-svg {
    background: url(..//icons/meat.svg) center center no-repeat;
    width: rem(160px);;
    height: rem(100px);
    margin-top:rem(5px);
}
.meat-name__title {
    @include attribute_class_title;  
    margin-top: rem(30px); 

    @include tablets {
        font-size: rem(22px);
    }
 }
.meat-article {
    @include attribute_class_article;
    margin-bottom: rem(30px);  

    @include tablets {
        font-size: rem(13px);
    }
}
.hand-made {
    @include attribute_class_svg;
    flex-flow:  column wrap;
    align-items: center;
}
.hand-made-svg {
    background: url(..//icons/hand.svg) center center no-repeat;
    width: rem(160px);
    height: rem(100px);
    margin-top: rem(5px);
}
.hand-made-name__title {
    @include attribute_class_title;
    margin-top: rem(40px);

    @include tablets {
        font-size: rem(22px);
    }
}
.hand-made-article {
    @include attribute_class_article;
    margin-bottom: rem(20px);

    @include tablets {
        font-size: rem(13px);
    }
}
.ingredients {
    @include attribute_class_svg;
    flex-wrap: wrap;
}
.ingredients-svg {
    background: url(..//icons/natural.svg) center center no-repeat;
    width: rem(160px);;
    height: rem(100px);
}
.ingredients-name__title {
    @include attribute_class_title;
    margin-top:rem(50px);
    letter-spacing: rem(1px);

    @include tablets {
        font-size: rem(22px);
    }
}
.ingredients-article {
    @include attribute_class_article;
    margin-bottom: rem(35px);

    @include tablets {
        font-size: rem(13px);
    }
}