.advantages {
    background: url(..//img/bg.png) no-repeat;
    background-size: 100% 100%; 
    width: 100%;    
    height:100%; 
    min-height: $min-height;  
}
.adv-title {
    display: flex;
    justify-content: center;
}
.adv-title__h1 {
    font-family: Gagalin-Regular;
    color: $dark-grey;
    font-size: 72px;
    font-weight: lighter;
    margin-top: 65px;
}
.attribute {
    display: flex;
    justify-content: center;
}
.meat {
    @include attribute_class_svg;
    flex-wrap: wrap;
}
.meat-svg {
    background: url(..//icons/meat.svg) center center no-repeat;
    width: 160px;;
    height: 100px;
    margin-top:5px;
}
.meat-name__title {
    @include attribute_class_title;   
 }
.meat-article {
    @include attribute_class_article;
    margin-bottom: 30px;  
}
.hand-made {
    @include attribute_class_svg;
    flex-flow:  column wrap;
}
.hand-made-svg {
    background: url(..//icons/hand.svg) center center no-repeat;
    width: 160px;
    height: 100px;
    margin-top: 5px;
}
.hand-made-name__title {
    @include attribute_class_title;
    margin-top: 40px;
}
.hand-made-article {
    @include attribute_class_article;
    margin-bottom: 20px;
}
.ingredients {
    @include attribute_class_svg;
    flex-wrap: wrap;
}
.ingredients-svg {
    background: url(..//icons/natural.svg) center center no-repeat;
    width: 160px;;
    height: 100px;
}
.ingredients-name__title {
    @include attribute_class_title;
    margin-top:50px;
    letter-spacing: 1px;
}
.ingredients-article {
    @include attribute_class_article;
    margin-bottom: 35px;
}
