.contacts {
    background: url(..//img/map.png) center center no-repeat;
    background-size: cover;   
    height:100vh; 
    min-height: $min-height;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer {
    background-image: url(..//img/texture.png);
    height: rem(58px);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.contact-text__address {
    display: flex;
    margin: 0;
    font-family: Ubuntu-Light;
    color: $white;
    font-size: rem(14px);
    margin-left: rem(80px);
    margin-bottom: rem(7px);

    @include tablets {
        margin-left: rem(24px);
    }
}
.wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon-phone {
    width: rem(15px);
    height: rem(15px);
    margin-left: rem(80px);
    fill: $orange;

    @include tablets {
        margin-left: rem(24px);
    }
}
.contact-text__phone {
    margin: 0;
    font-family: Ubuntu-Medium;
    color: $orange;
    font-size: rem(14px);
    font-weight: bold;
    margin-left: rem(10px);
}
.icons {
    display: flex;
    justify-content: flex-end;
    width: 50%;  
    margin-right: rem(80px);

    @include tablets {
        margin-right: rem(15px);
    }
}

.icon-social
{
    width:rem(20px);
    height:rem(20px);
    margin:rem(20px);
    fill: $grey;
    &:hover {
        fill: $white;
    }

    @include tablets {
        margin-left: rem(5px);
        margin-right: rem(15px);
    }
}