.menu {
	height: 100vh;
	background-image: url(../img/burger-menu.png);
	background-size: cover;
    min-height: $min-height;
    position: relative;
    overflow-x: hidden;
}
.menu-title {
	margin: 0;
	padding-top: rem(40px);
    padding-left: rem(220px); 

    @include tablets {
        padding-left: rem(50px);
    }

    @include phones {
        padding-top: 0;
    }
}
.menu-title__name {
    font-family: Gagalin-Regular;
    color: $white; 
    font-size: rem(72px);
    font-weight: lighter;
}