.reviews {
    background-size: 100% 100%; 
    width: 100%;    
    height:100%; 
    min-height: $min-height;
}
.photo1 {
    background-image: url(..//img/photo1.png); 
    @include general-photostyle;
    float:left;
}
.photo2 {
    background-image: url(..//img/photo2.png); 
    @include general-photostyle;
    display:inline-block;
}
.photo3 {
    background-image: url(..//img/photo3.png); 
    @include general-photostyle;
    display:inline-block;
    margin-left: -4px;
}
.photo4 {
    background-image: url(..//img/photo4.png); 
    @include general-photostyle;
    display:inline-block;
    margin-left: -4px;
}
.photo5 {
    background-image:url(..//img/photo5.png);
    @include general-photostyle;
    float:left;
}
.photo6 {
    background-image:url(..//img/photo6.png);
    @include general-photostyle;
    display: inline-block;
}
.photo7 {
    background-image:url(..//img/photo7.png);
    @include general-photostyle;
    display:inline-block;
    margin-left: -4px; 
}
.photo8 {
    background-image:url(..//img/photo8.png);
    @include general-photostyle;
    display:inline-block;
    margin-left: -4px;
}
.review1, .review2, .review3, .review4, .review5, .review6,
.review7, .review8 {
    @include review-style;
}
.photo1:hover .review1, .photo2:hover .review2,
.photo3:hover .review3, .photo4:hover .review4,
.photo5:hover .review5, .photo6:hover .review6,
.photo7:hover .review7, .photo8:hover .review8 {
    opacity: 1;
}
.review1__name, .review2__name, 
.review3__name, .review4__name,
.review5__name, .review6__name,
.review7__name, .review8__name {
    @include review__name-style;
}
.review1__text, .review2__text, .review3__text, .review4__text,
.review5__text, .review6__text, .review7__text, .review8__text {
    @include review__text-style;
}
.btn-more {
    padding: 10px 10px;
    background-color: $dark-grey;
    width:90px;
    border-radius:6px;
    text-align:center;
}
.btn-more__link {
    font-family: Ubuntu-Medium;
    text-decoration: none;
    color: $white;
    font-size: 13px;
    text-transform: uppercase;
}