.team {
    background: url(..//img/team.png) no-repeat; 
    background-position: center center;
    background-size: cover;
    height:100vh; 
    min-height: $min-height;
    display: flex;
    justify-content: flex-end;
}
.team__content {
    background: url(..//img/back-info.png);
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    @include tablets {
        width: 100%;
    }
}
.section-title {
    font-family: Gagalin-Regular;
    color: $yellow;
    font-size: rem(72px);
    font-weight: lighter;
    height: rem(80px);
    margin-left: rem(80px);
    margin-top: rem(70px);

    @include tablets {
        margin-top: rem(30px);
        text-align: center;
        margin-left: 0;
        width: 100%;
    }
}
.team-acco {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: rem(-180px);

    @include tablets {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}
.team-acco__title {
    font-family: Gagalin-Regular;
    font-size: rem(14px);
    font-weight: lighter;
    color: $white;
    margin-left: rem(25px);
    display: flex;
    align-items: center;
    &:before {
        content: "";
        width: 0;
        height: 0;
        border: rem(6px) solid transparent;
        border-top-color: $yellow;
        border-bottom: none;
        margin-right: rem(15px);
        margin-left: rem(20px);

        @include tablets {
            margin-left: 0;
        }
    }

    @include tablets {
        font-size: rem(22px);
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
}
.team-acco__item {
    &.active {
        .team-acco__content {
            height: auto;
        }
        .team-acco__title {
            color: $yellow;
            &:before  {
                transform: rotate(180deg);
            }
        }
    }
}
.team-acco__content {
    display: flex;
    overflow: hidden;
    height: 0;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}
.team-acco__occ {
    color: $white;
    font-family: Ubuntu-Light;
    font-size: rem(13px);
    font-weight: bolder;
    padding: 0 rem(25px);
    margin-top: rem(20px);

    @include tablets {
        width: 100%;
        text-align: center;
        padding: 0;
    }
}
.team-acco__desc-text {
    display: flex;
    flex-direction: column;
    padding: rem(5px) rem(25px);
    font-family: Ubuntu-Light;
    font-size: rem(13px);
    color: $white;
    line-height: 1.5;
    width: rem(200px);
    margin-bottom: rem(-30px);

    @include tablets {
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        padding: 0;
    }

    @include phones {
        width: 80%;
        margin: auto;
    }
}
.team-acco__avatar {
    width: rem(100px);
    height: rem(100px);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-left: rem(45px);
    margin-top: rem(15px);

    @include tablets {
        margin-left: 0;
    }
}
.team-acco__avatar-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}