@font-face {
    font-family: Ubuntu-Medium;
    src: url(..//fonts/Ubuntu-Medium.woff);
    src: url(..//fonts/Ubuntu-Medium.woff2);
}
@font-face {
    font-family: Gagalin-Regular;
    src: url(..//fonts/Gagalin-Regular.woff);
    src: url(..//fonts/Gagalin-Regular.woff2);
}
@font-face {
    font-family: Lifehack-Medium;
    src: url(..//fonts/Lifehack-Medium.woff);
    src: url(..//fonts/Lifehack-Medium.woff2);
}
@font-face {
    font-family: Ubuntu-Light;
    src: url(..//fonts/Ubuntu-Light.woff);
    src: url(..//fonts/Ubuntu-Light.woff2);
}
body, html {
    width: 100%;
}

/* Секция приветствия */
 .wrapper1 {
    background: url(..//img/video-bg.png); 
    background-size: 100%; 
    height:100%; 
    min-height: 650px;
} 
header {
    width: 968px;
    height: 72px;
    position:relative;
    margin:auto;
}
.logo {
    margin-top:10px;
    margin-left: 7px;
    float:left;
}
menu {
    padding: 0;
    margin: 0;
    display: inline; 
    margin-left:214px;
}
menu>li {
    list-style: none;
    display: inline;  
    line-height: 72px;
}
li>a {
    text-decoration: none;
    color:#fff;
    font-family: Ubuntu-Medium;
    font-size: 13px;
    color:#fff;
    text-transform: uppercase;
    padding: 13px;
    display:inline-block;
    margin-top:-5px;
}
.nav-item::after {
    content: "\2022";
    color: #fff;
}
.nav-item:last-child::after {
    content: "";
}
button {
    display: inline;
    background-color: e45028;
    padding:8px 14px 8px 14px;
    border-radius: 5px;
    border: none;
}
button > a {
    color:#fff;
    font-family: Ubuntu-Medium;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-point {
    margin-left:1120px; 
    position:fixed;
    width: 25px;
    /* z-index: 50; */

}
.nav {
    color:#fff;
    line-height: 11px; 
    list-style: none;
    padding:5px;
}
.nav>a>img:hover {
    border: 1px solid #fff;
    border-radius:10px;
    padding:4px;
    margin-left:-4px;
    margin-bottom:-4px;
}
.nav a {
    margin:0;
    padding:0;
}
.content {
    width: 960px; 
    margin:auto;
}
.burger-pic {
    float: left;
}  
.drops {
    position: absolute;
    margin-top:70px;
    margin-left:-75px;
}
.burger {
    position: relative;
    margin-left:-40px;
}
.main-text {
    display: inline-block;
    width: 480px;
}
.we-do > h1 {
    font-family: Gagalin-Regular;
    color: #f9b43b;
    font-size: 72px;
    margin-left:15px; 
    margin-top:135px; 
    font-weight: lighter;
}
h1 > span {
    font-family: Lifehack-Medium;
    color: #fff;
    font-size: 65px;
    font-weight: lighter;
    display: block;
    margin-top: 25px;
    line-height: 60px;
    letter-spacing: -2px;
}
.arrow {
    margin: auto;
}
.arrow img {
    margin-top:108px;
    margin-left:-8px;
}

/* Секция "Мы лучшие" */
.wrapper2 {
    background: url(..//img/bg.png) no-repeat;
    background-size: 100% 100%; 
    width: 100%;    
    height:100%; 
    position: absolute; 
}
.title {
    width: 390px;
    height: 90px; 
    position: absolute;
    margin-left:480px;
    margin-top:60px;
}
.title>h1 {
    font-family: Gagalin-Regular;
    color: #2f3234;
    font-size: 72px;
    font-weight: lighter;
    text-align: center;
    display: block;
    margin: auto;
}

.attribute {
    width:970px;
    margin: auto;
    margin-top: 210px;
}

.meat {
    width: 300px;
    margin:10px;
    text-align:center;
    float:left;
}
.meat-name>h2 {
    font-family: Lifehack-Medium;
    color:#000;
    font-weight: lighter;
    margin-top:30px;
}
.meat-article>p {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color:#585a5a;
    line-height: 1.5;
}

.hand-made {
    width: 300px;
    margin:10px;
    text-align:center;
    float: left;
}
.hand-made-name>h2 {
    font-family: Lifehack-Medium;
    color:#000;
    font-weight: lighter;
    margin-top:35px;
}
.hand-made-article>p {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color:#585a5a;
    line-height: 1.5;
    margin-top: -5px;
}

.ingredients {
    width: 300px;
    margin:10px;
    text-align:center;
    float:right;
}
.ingredients-name>h2 {
    font-family: Lifehack-Medium;
    color:#000;
    font-weight: lighter;
    margin-top:42px;
    letter-spacing: 1px;
}
.ingredients-article>p {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color:#585a5a;
    line-height: 1.5;
    margin-top: -10px;
}

/* Секция "Отзывы" */
.wrapper3 {
    background: url(..//img/fon.jpg); 
    background-size: 100% 100%;
    width: 100%;    
    height:100%; 
    position:absolute;
    margin-top:662px;
}
.photo {
    width:1100px;
    margin:auto;
    margin-top:6px;
}
.photo1 {
    width:275px;
    float:left;
    position: relative;
}
.photo2 {
    width:275px;
    display:inline-block;
    position:relative;
}
.photo3, .photo4 {
    width: 275px;
    display:inline-block;
    margin-left: -4px;
    position: relative;
}
.photo5 {
    width:275px;
    float:left;
    margin-top: -4px;
    position: relative;
}
.photo6 {
    width:275px;
    margin-top: -4px;
    display: inline-block;
    position: relative;
}
.photo7, .photo8 {
    width: 275px;
    display:inline-block;
    margin-left: -4px;
    margin-top: -4px; 
    position: relative;
}
.review1, .review2, .review3, .review4, .review5, .review6,
.review7, .review8 {
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    background: rgba(80,80,80,0.8);
    opacity: 0;
    cursor: pointer;
    color: #fff; 
    padding: 40px 20px;
}
.photo1:hover .review1, .photo2:hover .review2,
.photo3:hover .review3, .photo4:hover .review4,
.photo5:hover .review5, .photo6:hover .review6,
.photo7:hover .review7, .photo8:hover .review8 {
    opacity: 1;
}
.review1 > h1, .review2 > h1, 
.review3 > h1, .review4 > h1,
.review5 > h1, .review6 > h1,
.review7 > h1, .review8 > h1 {
    font-family: Gagalin-Regular;
    color: #fff;
    font-size:14px;
    font-weight: lighter;
}
.review1 > p, .review2 > p, .review3 > p, .review4 > p,
.review5 > p, .review6 > p, .review7 > p, .review8 > p {
    font-family: Ubuntu-Light;
    color: #fff;
    font-size: 14px;
    line-height:24px;
    margin-top:18px;
}
.btn-more {
    padding: 10px 10px;
    background-color: #2f3234;
    width:90px;
    border-radius:6px;
    text-align:center;
}
.btn-more a {
    font-family: Ubuntu-Medium;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}