@mixin attribute_class_svg {
    width: 300px;
    margin:10px;
    text-align:center;
    display: flex;
    justify-content: center;
}
@mixin attribute_class_title {
    font-family: Lifehack-Medium;
    color:#000;
    font-weight: lighter;
}
@mixin attribute_class_article {
    font-family: Ubuntu-Light;
    font-size: 14px;
    color:#585a5a;
    line-height: 1.5;
}
@mixin general-photostyle {
    background-size: cover;
    width: 25%;
    position: relative;
    // height:325px; 
    vertical-align: bottom;
}
@mixin review-style {
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    background: rgba(80,80,80,0.8);
    opacity: 0;
    cursor: pointer; 
    color: #fff; 
    padding: 40px 20px;
}
@mixin review__name-style {
    font-family: Gagalin-Regular;
    color: #fff;
    font-size:14px;
    font-weight: lighter;
}
@mixin review__text-style {
    font-family: Ubuntu-Light;
    color: #fff;
    font-size: 14px;
    line-height:24px;
    margin-top:18px;
}
