@font-face {
    font-family: Ubuntu-Medium;
    src: url(..//fonts/Ubuntu-Medium.woff);
    src: url(..//fonts/Ubuntu-Medium.woff2);
}
@font-face {
    font-family: Gagalin-Regular;
    src: url(..//fonts/Gagalin-Regular.woff);
    src: url(..//fonts/Gagalin-Regular.woff2);
}
@font-face {
    font-family: Lifehack-Medium;
    src: url(..//fonts/Lifehack-Medium.woff);
    src: url(..//fonts/Lifehack-Medium.woff2);
}
@font-face {
    font-family: Ubuntu-Light;
    src: url(..//fonts/Ubuntu-Light.woff);
    src: url(..//fonts/Ubuntu-Light.woff2);
}
