.advantages {
    background: url(..//img/bg.png) center center no-repeat;
    background-size: cover;
    width: 100%;    
    height: 100vh; 
    min-height: $min-height; 
    justify-content: center;
    align-items: center; 
}
.container {
    width: 98%;
}
.adv-title {
    display: flex;
    justify-content: center;
}
.adv-title__name {
    font-family: Gagalin-Regular;
    color: $dark-grey;
    font-size: rem(72px);
    font-weight: lighter;
    margin-top: rem(65px);

    @include phones {
        font-size: rem(60px);
        margin-top: rem(40px);
        text-align: center;
    }
}
