.arrow-right {
    display: flex;
    height: rem(20px);
    transform: rotate(-90deg);
    margin: auto 0;
    background: none;
    border: none;
    cursor: pointer;

    @include phones {
        margin-left: rem(-40px);
    }
}