.arrow {
    width: 98%;    
    display: flex;
    justify-content: center;
    margin-bottom: rem(20px);
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;

    @include mini-phones {
        bottom: rem(50px);
    }
}