.arrow-right {
    position: absolute;
    right: 1%;
    bottom: 50%;
    transform: rotate(-90deg);
    background: none;
    border: none;
    cursor: pointer;

    @include phones {
    // margin-left: rem(-40px);
    }
}