.attribute-wrap {
    @include attribute_class_svg;
    flex-wrap: wrap;

    @include phones {
       flex-wrap: nowrap;
       width: 98%;
       margin-top: rem(-5px);
    }
}
.attribute-wrap__meat-svg {
    @include phones {
        display: flex;
    }
}
.attribute-wrap__meat-svg > img {
    @include mini-phones {
        width: rem(60px);
    }
}
.attribute-wrap__meat-desc {
    @include phones {
        text-align: left;
        padding: 0 rem(10px);
        margin-left: rem(20px);
    }
}
.attribute-wrap__meat-title {
    @include attribute_class_title;  
    margin-top: rem(30px); 

    @include tablets {
        font-size: rem(22px);
    }

    @include phones {
        font-size: rem(20px);
    }

    @include mini-phones {
        font-size: rem(16px);
    }
 }
.attribute-wrap__meat-article {
    @include attribute_class_article;
    margin-bottom: rem(30px);  

    @include tablets {
        font-size: rem(13px);
    }

    @include mini-phones {
        font-size: rem(11px);
    }
}

.attribute-wrap__hand-made-svg {
    @include phones {
        display: flex;
        margin-left: rem(15px);
    }

    @include mini-phones {
        margin-top: rem(-10px);
        display: flex;
        margin-left: rem(10px);
    }
}
.attribute-wrap__hand-made-svg > img {
    @include mini-phones {
        width: rem(50px);
    }
}
.attribute-wrap__hand-made-desc {
    @include phones {
        text-align: left;
        padding: 0 rem(10px);
        margin-top: rem(-30px); 
        margin-left: rem(30px);
    }

    @include mini-phones {
        margin-top: rem(-55px); 
        margin-left: rem(20px);
    }
}
.attribute-wrap__hand-made-title {
    @include attribute_class_title;
    margin-top: rem(40px);

    @include tablets {
        font-size: rem(22px);
    }

     @include phones {
        font-size: rem(20px);
    }

    @include mini-phones {
        font-size: rem(16px);
    }
}
.attribute-wrap__hand-made-article {
    @include attribute_class_article;
    margin-bottom: rem(20px);

    @include tablets {
        font-size: rem(13px);
    }

    @include mini-phones {
        font-size: rem(11px);
    }
}

.attribute-wrap__ingredients-svg {
    @include phones {
        display: flex;
        margin-left: rem(10px);
    }

    @include mini-phones {
        display: flex;
        margin-top: rem(-50px);
    }
}
.attribute-wrap__ingredients-svg > img {
    @include mini-phones {
        width: rem(60px);
    }
}
.attribute-wrap__ingredients-desc {
    @include phones {
        text-align: left;
        margin-top:rem(-40px);
        margin-left:rem(20px);
        padding: 0 rem(10px);

    }

    @include mini-phones {
        margin-top:rem(-60px);
        margin-left: rem(10px);
    }
}
.attribute-wrap__ingredients-title {
    @include attribute_class_title;
    margin-top:rem(50px);
    letter-spacing: rem(1px);

    @include tablets {
        font-size: rem(22px);
    }

    @include phones {
        font-size: rem(20px);
    }

    @include mini-phones {
        font-size: rem(16px);
    }
}
.attribute-wrap__ingredients-article {
    @include attribute_class_article;
    margin-bottom: rem(35px);

    @include tablets {
        font-size: rem(13px);
    }

    @include mini-phones {
        font-size: rem(11px);
    }
}