.burger-content {
    display: flex;
    align-items: center;
    margin: auto;

    @include tablets {
        flex-direction: column;
        margin-top: rem(60px);
    }

    @include phones {
        margin-top: rem(80px);
    }
    @include mini-phones {
        margin-top: rem(20px);
    }
}