.burger-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: rem(100px);

    @include tablets {
        margin-left: 0;
    }
}
.burger-left__pic {
    @include tablets {
        width: rem(350px);
    }

    @include phones {
        width: rem(250px);
    }

    @include mini-phones {
         width: rem(200px);
    }
}
.burger-left__composition {
    position: absolute;
    top: -5vh;
    left: 10vw;
    padding: rem(8px) rem(15px); 
    border-radius: rem(7px);
    background-color: #f08c33;
    text-align: center;
    &.active {
        background-color: $orange;
    }

    @include tablets {
        top: 0;
        left: 17vw;
    }

    @include phones {
        left: 11vw;
        top: -1vh;
    }

    @include mini-phones {
        left: 2vw;
        top: 18vh;
        padding: rem(5px) rem(10px); 
    }
}
.burger-left__composition-link {
    text-decoration: none;
}
.burger-left__composition-title {
    color: $white; 
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(16px);
    margin: 0;
}
.burger-left__composition-wrap {
    width: rem(260px);
    height: rem(312px);
    background-color: $white;
    position: absolute;
    opacity: 0.95;
    left: 15.9vw;
    top: -4.8vh;
    border-radius: rem(5px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    padding: rem(20px);
    z-index: 10;
    display: none;

    @include tablets {
    left: 27.5vw;
    top: 0;
    padding-right: 0;
    }

    @include phones {
    width: rem(210px);
    height: rem(312px);
    left: 33vw;
    top: -0.8vh;
    padding-left: rem(15px);
    }

    @include mini-phones {
    width: rem(185px);
    height: rem(250px);
    top: 18vh;
    left: 23.5vw;
    padding-left: rem(15px);
    }
}
.burger-left__composition-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.burger-left__composition-item {
    font-family: Ubuntu-Medium;
    font-size: rem(14px);
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: rem(15px); 

    @include mini-phones {
    font-size: rem(12px);
    }
}
.beef, .sauce {
    fill: $orange;
}
.buns, .cheese {
    fill: $yellow;
}
.salad, .cucumber {
    fill: $green;
}
.burger-left__composition-item-svg {
    width: rem(40px);
    height: rem(40px);
    margin-right: rem(25px);
    display: flex;

    @include phones {
    width: rem(35px);
    height: rem(35px);
    }
    @include mini-phones {
    width: rem(30px);
    height: rem(30px);
    margin-right: rem(15px);
    }
}
.weight-right {
    right: rem(20px);
    position: absolute;
    margin-top: rem(-15px);

    @include tablets {
    right: rem(50px);
    }

    @include mini-phones {
    right: rem(30px);
    margin-top: rem(-12px);
    }
}
.burger-left__composition-close {
    display: none;
    border: none;
    background: none;
    cursor: pointer;

    @include tablets {
        display: block;
        margin-top: rem(-335px);
        margin-left: rem(220px);
    }

    @include phones {
        margin-top: rem(-305px);
        margin-left: rem(175px);
    }

    @include mini-phones {
        margin-top: rem(-283px);
        margin-left: rem(148px);
    }
}

.burger-left__calories {
    position: absolute;
    left: 13vw;
    bottom: 0;
    opacity: 0.5;

    @include tablets {
        left: 70vw;
        top: 1vh;
    }

    @include phones {
        left: 70vw;
        top: 0;
    }

    @include mini-phones {
        left: 70vw;
        top: 18vh;
    }
}
.burger-left__calories-title {
    color: $white; 
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(16px);
    text-align: center;
}
text {
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(18px);
}
.burger-left__composition-svg {
    width: rem(50px);
    height: rem(50px);
    fill: $white;

    @include mini-phones {
    width: rem(40px);
    height: rem(40px);
    }
}
.burger-left__calories-svg {
    width: rem(50px);
    height: rem(50px);
    fill: $white;
}