.burger-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: rem(100px);

    @include tablets {
        margin-left: 0;
    }
}
.burger-left__pic {
    @include laptop {
        width: rem(460px);
    }

    @include min-laptop {
        width: rem(350px);
    }

    @include phones {
        width: rem(250px);
    }

    @include mini-phones {
         width: rem(200px);
    }
}
.burger-left__composition {
    position: absolute;
    top: -30px;
    left: 140px;
    padding: rem(8px) rem(15px); 
    border-radius: rem(7px);
    background-color: #f08c33;
    text-align: center;
    &.active {
        background-color: $orange;
    }

    @include laptop {
        top: 100px;
    }

    @include tablets {
        top: 0;
        left: 120px;
    }

    @include phones {
        left: 55px;
        top: -10px;
    }

    @include mini-phones {
        left: 7px;
        top: 90px;
        padding: rem(5px) rem(10px); 
    }
}
.burger-left__composition-link {
    text-decoration: none;
}
.burger-left__composition-title {
    color: $white; 
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(16px);
    margin: 0;
}
.burger-left__composition-wrap {
    width: rem(260px);
    height: rem(312px);
    background-color: $white;
    position: absolute;
    opacity: 0.95;
    left: 220px;
    top: -30px;
    border-radius: rem(5px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    padding: rem(20px);
    z-index: 10;
    display: none;

    @include laptop {
        top: 100px;
    }

    @include tablets {
    left: 200px;
    top: 0;
    padding-right: 0;
    }

    @include phones {
    width: rem(210px);
    height: rem(312px);
    left: 135px;
    top: -10px;
    padding-left: rem(15px);
    }

    @include mini-phones {
    width: rem(185px);
    height: rem(250px);
    top: 90px;
    left: 76px;
    padding-left: rem(15px);
    }
}
.burger-left__composition-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.burger-left__composition-item {
    font-family: Ubuntu-Medium;
    font-size: rem(14px);
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: rem(15px); 

    @include mini-phones {
    font-size: rem(12px);
    }
}
.beef, .sauce {
    fill: $orange;
}
.buns, .cheese {
    fill: $yellow;
}
.salad, .cucumber {
    fill: $green;
}
.burger-left__composition-item-svg {
    width: rem(40px);
    height: rem(40px);
    margin-right: rem(25px);
    display: flex;
    
    @include phones {
    width: rem(35px);
    height: rem(35px);
    }
    @include mini-phones {
    width: rem(30px);
    height: rem(30px);
    margin-right: rem(15px);
    }
}
.weight-right {
    right: rem(20px);
    position: absolute;
    margin-top: rem(-15px);

    @include tablets {
    right: rem(50px);
    }

    @include mini-phones {
    right: rem(30px);
    margin-top: rem(-12px);
    }
}
.burger-left__composition-close {
    display: none;
    border: none;
    background: none;
    cursor: pointer;

    @include tablets {
        display: block;
        margin-top: rem(-335px);
        margin-left: rem(220px);
    }

    @include phones {
        margin-top: rem(-305px);
        margin-left: rem(175px);
    }

    @include mini-phones {
        margin-top: rem(-283px);
        margin-left: rem(148px);
    }
}

.burger-left__calories {
    position: absolute;
    left: 150px;
    bottom: 0;
    opacity: 0.5;

    @include laptop {
        bottom: 100px;
    }

    @include tablets {
        left: 540px;
        top: 5px;
    }

    @include min-tablets {
        left: 430px;
    }

    @include phones {
        left: 340px;
        top: 0;
    }

    @include min-phones {
        left: 260px;
        top: 0;
    }
    @include mini-phones {
        left: 230px;
        top: 85px;
    }
}
.burger-left__calories-title {
    color: $white; 
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(16px);
    text-align: center;
}
text {
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(18px);
}
.burger-left__composition-svg {
    width: rem(50px);
    height: rem(50px);
    fill: $white;

    @include mini-phones {
    width: rem(40px);
    height: rem(40px);
    }
}
.burger-left__calories-svg {
    width: rem(50px);
    height: rem(50px);
    fill: $white;
}