.burger-left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger-left__pic {
    @include tablets {
        width: rem(350px);
    }

    @include phones {
        width: rem(250px);
    }
}
.burger-left__composition {
    position: absolute;
    left: 0;
    padding: rem(10px) rem(20px); 
    border-radius: rem(7px);
    margin-top: rem(-200px);
    margin-left: rem(150px);
    background-color: #f08c33;
    &:hover {
        background-color: $orange;
    }

    @include tablets {
    padding: rem(8px) rem(15px); 
    margin-top: rem(-120px);
    }

    @include phones {
        left: 0;
        margin-left: rem(50px);
        margin-top: rem(-100px);
        padding: rem(2px) rem(10px); 
    }
}
.burger-left__composition-link {
    text-decoration: none;
}
.burger-left__composition-title {
    color: $white; 
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(18px);
    text-align: center;
    margin: 0;
}
.burger-left__calories {
    position: absolute;
    left: 0;
    margin-left: rem(170px);
    margin-top: rem(210px);

    @include tablets {
    margin-left: rem(510px);
    margin-top: rem(-108px);
    }

    @include phones {
        margin: rem(10px); 
        margin-left: rem(320px); 
        margin-top: rem(-90px);
    }
}
.burger-left__calories-title {
    color: $white; 
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(8px);
    text-align: center;
}
text {
    font-family: Gagalin-Regular;
    font-weight: lighter;
    font-size: rem(24px);
}
.burger-left__composition-svg,
.burger-left__calories-svg {
    width: rem(65px);
    height: rem(65px);
    fill: $white;
}