.burger-right {
    width: 100%;
    margin-left: rem(30px);
    padding: rem(20px) rem(60px) rem(20px) rem(20px);
    @include tablets {
        text-align: center;
        padding: 0;
        margin-left: 0;
    }

    @include mini-phones {
        width: rem(310px);
    }
}
.burger-right__title {
    width: 70%;
    color: $white;
    font-family: Gagalin-Regular;
    font-size: rem(72px);
    font-weight: lighter;
    margin: 0;

    @include tablets {
        margin: auto;
        font-size: rem(56px);
        margin-bottom: rem(10px);
    }

    @include phones {
         font-size: rem(50px);
    }

    @include mini-phones {
         font-size: rem(35px);  
    }
}
.burger-right__desc {
    font-family: Ubuntu-Light;
    color: $white;
    font-size: rem(14px);
    line-height: 1.9;
    width: 90%;

    @include tablets {
        margin: auto;
        margin-bottom: rem(20px);
        width: 80%;
    }

    @include phones {
        line-height: 1.7;
        margin: rem(20px) auto;
    }

    @include mini-phones {
        font-size: rem(13px);
        line-height: 1.5;
    }
}
.burger-right__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-family: Gagalin-Regular;
    color: $orange;
    width: 100%;

    @include tablets {
        justify-content: center;
    }

    @include mini-phones {
        margin-bottom: rem(25px);
    }
}
.burger-right__price-number {
    font-size: rem(72px);
    font-weight: lighter;

    @include tablets {
        font-size: rem(60px);
    }

    @include phones {
        font-size: rem(50px);
    }

    @include mini-phones {
        font-size: rem(40px);
    }
}
.burger-right__price-rubles {
    font-size: rem(35px);
    font-weight: lighter;
    margin-left: rem(10px);
    margin-right: rem(50px);

    @include phones {
        font-size: rem(30px);
    }

    @include mini-phones {
        font-size: rem(20px);
        margin-right: rem(20px);
    }
}