.contacts {
    background: url(..//img/map.png) center center no-repeat;
    background-size: cover;   
    height:100vh; 
    min-height: $min-height;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}