.contacts {
    background: url(..//img/map.png) center center no-repeat;
    background-size: cover;   
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}