.onepage-pagination li a:before {
    background: $white;
    width: rem(6px);
    height: rem(6px);
}
.onepage-pagination li a.active:before {
    width: rem(12px);
    height: rem(12px);
    border: 1px solid $white;
}
.onepage-pagination {
    right: rem(135px);
    top: 15%;

    @include min-laptop {
        display: none;
    }
}
