#form-feedback {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        margin-bottom: rem(40px);
    }

    @include phones {
        width: 98%;
        margin-bottom: rem(10px);
    }

    @include mini-phones {
        margin-top: rem(-30px);
    }
}