.form {
    background: url(..//img/texture.png) no-repeat; 
    background-position: center center;
    background-size: cover;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.form__title {
    font-family: Gagalin-Regular;
    font-size: rem(72px);
    color: $yellow;
    font-weight: lighter;
    height: rem(80px);
    display: flex;
    justify-content: center;
    margin-top: rem(70px);

    @include tablets {
        font-size: rem(60px);
    }

    @include phones {
        text-align: center;
        font-size: rem(40px);
        margin-top: rem(20px);
    }

    @include mini-phones {
        margin: auto;
        font-size: rem(30px);
        margin-top: rem(-20px);
    }
}
label {
    font-family: Ubuntu-Light;
    color: $white;
    font-size: rem(14px);
    margin-left: rem(10px);

    @include phones {
        font-size: rem(13px);
    }
    @include mini-phones {
        font-size: rem(12px);
    }
}
input {
    margin: rem(10px);
    border-radius: rem(5px);
    height: rem(35px);

    @include phones {
        height: rem(22px);
    }

    @include mini-phones {
        height: rem(20px);
    }
}