.form-feedback {
    width: 75%;
    display: flex;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        margin-bottom: rem(40px);
    }

    @include phones {
        width: 98%;
        margin-top: rem(30px);
    }
}