.form {
    background: url(..//img/texture.png) no-repeat; 
    background-position: center center;
    background-size: cover;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow-x: hidden;
}
.form__title {
    font-family: Gagalin-Regular;
    font-size: rem(72px);
    color: $yellow;
    font-weight: lighter;
    height: rem(80px);
    display: flex;
    justify-content: center;
    margin-top: rem(70px);

    @include tablets {
        margin-top: rem(50px);
        font-size: rem(60px);
    }

    @include phones {
        text-align: center;
        margin-top: rem(30px);
        font-size: rem(56px);
    }
}
label {
    font-family: Ubuntu-Light;
    color: $white;
    font-size: rem(14px);
    margin-left: rem(10px);
}
input {
    margin: rem(10px);
    border-radius: rem(5px);
    height: rem(35px);

}