.header {
    height: rem(90px);
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets {
        padding: 0 rem(25px);
        margin: 0;
    }


} 
.header__logo {
    display: flex;
    align-items: center;

    @include mini-phones {
    margin-left: rem(-20px);
    margin-right: rem(20px);
    }
}