.main-content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        flex-direction: column;
    }
}
.main-content__burger-pic {
    display: flex;
}  
.main-content__burger-pic-dropspic {
    position: absolute;
    margin-top: rem(60px);
    margin-left: rem(-35px);

    @include tablets {
        display: none;
    }
}
.main-content__burger-pic-burgerimg {
    position: relative;

    @include tablets {
        width: rem(320px);
        height: rem(320px);
        margin-top: rem(-50px);
        position: absolute;
        margin-left: rem(-150px);
    }

    @include mini-phones {
        width: rem(280px);
        height: rem(280px);
        margin-top: rem(-30px);
        margin-left: rem(-130px);
    }
}
.main-content__main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:rem(25px); 
    
    @include tablets {
        margin-top: rem(250px);
    }

    @include mini-phones {
        margin-top: rem(220px);
    }
}
.main-content__main-text-title-name { 
    font-family: Gagalin-Regular;
    color: $yellow;
    font-size: rem(72px);
    margin-left:rem(15px); 
    font-weight: lighter;

    @include tablets {
        font-size: rem(56px);
        text-align: center;
    }
}
.main-content__main-text-desc {
    font-family: Lifehack-Medium;
    color: $white;
    font-size: rem(65px);
    font-weight: lighter;
    display: block;
    margin-top: rem(25px);
    line-height: rem(60px);
    letter-spacing: rem(-2px);

    @include tablets {
        font-size: rem(40px);
        text-align: center;
        line-height: rem(40px);
        display: flex;
        justify-content: center;
    }
}