 .main-screen {
    background: url(..//img/video-bg.png) no-repeat; 
    background-position: center center;
    background-size: cover;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
}
.main-screen__container {
    width: 98%;  
}
