 .main-screen {
    background: url(..//img/video-bg.png) no-repeat; 
    background-position: center center;
    background-size: cover;
    height:100vh; 
    min-height: $min-height;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
}
.container {
    width: 98%;  
}
