.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;

    @include min-laptop {
        flex-direction: column;
        height: 60%;
    }
}
.main-content__burger-pic {
    display: flex;

    @include min-laptop {
        width: rem(320px);
    }
    // @include tablets {
    //     width: rem(320px);
    // }

    @include mini-phones {
        width: rem(200px);
    }
    
}  
.main-content__burger-pic-dropspic {
    position: absolute;
    margin-top: rem(60px);
    margin-left: rem(-35px);

    @include min-laptop {
        display: none;
    }
}
.main-content__burger-pic-burgerimg {
    position: relative;

    @include min-laptop {
        width: rem(320px);
        position: absolute;
        margin: 0;
        margin: auto;
        margin-top: rem(-100px);
    }

    @include phones {
        margin-top: rem(-100px);
        
    }

    @include mini-phones {
        width: rem(200px);
        margin-top: rem(-80px);

    }
}
.main-content__main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:rem(40px); 
    
    @include min-laptop {
        margin-top: rem(350px);
    }
    @include tablets {
        margin-top: rem(250px);
    }

    @include mini-phones {
        margin-top: rem(120px);
    }
}
.main-content__main-text-title-name { 
    font-family: Gagalin-Regular;
    color: $yellow;
    font-size: rem(72px);
    margin-left:rem(15px); 
    font-weight: lighter;

    @include min-laptop {
        font-size: rem(56px);
        text-align: center;
        margin-left:0;
    }

    @include mini-phones {
        font-size: rem(40px);
    }
}
.main-content__main-text-desc {
    font-family: Lifehack-Medium;
    color: $white;
    font-size: rem(65px);
    font-weight: lighter;
    display: block;
    margin-top: rem(25px);
    line-height: rem(60px);
    letter-spacing: rem(-2px);

    @include min-laptop {
        font-size: rem(40px);
        text-align: center;
        line-height: rem(40px);
    }

    @include tablets {
        display: flex;
        justify-content: center;
    }

    @include mini-phones {
        font-size: rem(30px);
        margin-top: rem(0px);
    }
}