.menu {
    min-height: 100vh; 
	background-image: url(../img/burger-menu.png);
	background-size: cover;
    position: relative;
}
.menu__title {
	margin-top: rem(80px);
    margin-left: rem(220px); 
    font-family: Gagalin-Regular;
    color: $white; 
    font-size: rem(72px);
    font-weight: lighter;

    @include tablets {
        margin-left: rem(100px); 
    }

    @include phones {
        margin-left: rem(15px);
        font-size: rem(60px);
    }

    @include mini-phones {
        font-size: rem(44px);
        margin-left: rem(10px);
        margin-top: rem(20px);
    }
}