.menu-acco {
    list-style: none;
    padding: 0;
    margin: 0;
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-acco__item {
    display: flex;
    &.active {
        .menu-acco__desc {
            display: block;
        }
         .menu-acco__link {
            color: $yellow;
        }
    }
}

.menu-acco__title {
     width: rem(80px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     &:hover {
         cursor: pointer;
    }

    @include tablets {
         width: rem(60px);
         justify-content: flex-end;
    }

    @include mini-phones {
         width: rem(40px);
    }
}
@each $type in (meat, veg, diet) {
	.menu-acco__title_#{$type} {
		background-image: url(../img/menu-#{$type}.png);
		background-size: cover;
	}
}
 .menu-acco__desc {
    box-sizing: border-box;
    padding: rem(60px) rem(35px);
    font-family: Ubuntu-Light;
    font-size: rem(14px);
    color: $white;
    line-height: 1.8;
    margin: 0;
    display: none;
    min-height: 100vh;  
    background-color: $grey;
    opacity: 0.9;

    @include desktop {
        width: rem(545px); 
    }

    @include tablets {
        width: auto; 
    }
    
    @include phones {
        width: auto; 
        position: relative;
        z-index: 5;
        line-height: 1.5;
        font-size: rem(12px);
        padding: rem(60px) rem(30px);    
    }

    @include mini-phones {
        width: auto; 
        font-size: rem(12px);
        
    }
 }
.menu-acco__close {
    display: none;

    @include phones {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: rem(20px);
    margin-top: rem(20px);
    z-index: 8;
    }
}
.menu-acco__link {
	font-family: Gagalin-Regular;
	font-size: rem(40px);
	line-height: 1.5;
	color: $white;
	text-decoration: none;
	transform-origin: center;
	transform: rotate(-90deg);
    width: rem(310px);
    
    @include tablets {
        font-size: rem(35px);
        margin-bottom: 160px;
    }

    @include phones {
        font-size: rem(28px);
        font-weight: lighter;
    }

    @include mini-phones {
        font-size: rem(24px);
        margin-bottom: 180px;
    }
}