.menu {
	height: 100vh;
	background-image: url(../img/burger-menu.png);
	background-size: cover;
    min-height: $min-height;
    position: relative;
    overflow-x: hidden;
}
.menu__title {
	margin-top: rem(80px);
    margin-left: rem(220px); 
    font-family: Gagalin-Regular;
    color: $white; 
    font-size: rem(72px);
    font-weight: lighter;

    @include tablets {
        padding-left: rem(50px);
    }

    @include phones {
        padding-top: 0;
    }
}