.team {
    background: url(..//img/team.png) no-repeat; 
    background-position: center center;
    background-size: cover;
    min-height: 100vh; 
    display: flex;
    justify-content: flex-end;
}
.team__content {
    background: url(..//img/back-info.png);
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    @include tablets {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
.team__content-title {
    font-family: Gagalin-Regular;
    color: $yellow;
    font-size: rem(72px);
    font-weight: lighter;
    height: rem(80px);
    margin-left: rem(80px);
    margin-top: rem(70px);

    @include tablets {
        text-align: center;
        margin-left: 0;
        min-width: 98%;   
    }
}